{
  "check-coverage": true,
  "extends": "@istanbuljs/nyc-config-typescript",
  "reporter": [
    "text",
    "text-summary",
    "html",
    "lcov"
  ],
  "reporting": {
    "print": "both"
  },
  "include": [
    "src/handlers/*.ts"
  ],
  "all": true
}